<h1 align='center'> Add a new link: <h1>

<form action='/links' method='post'>
  <label for='new_title'>
    Title:
  <input type='text' name='new_title'>
</label>
<label for='new_url'>
  URL:
  <input type='text' name='new_url'>
</label>
<label for='new_tag'>
  Tag:
  <input type='text' name='new_tag'>
</label>
  <input type='submit' value='Submit'>
</form>
