<h1 align='center'> Add a new link <h1>

<form action='/links' method='post'>
  <label for='new_title'>
    Input Title
  <input type='text' name='new_title'>
</label>
<label for='new_url'>
  Input URL
  <input type='text' name='new_url'>
</label>
  <input type='submit' value='submit'>
</form>
