<h1 align='center'> Add a new link <h1>
<form action='/links' method='post'>
  <label for='new_title'>Input Title</label>
  <input type='text' name='new_title'></label>
  <label for='new_url'>Input URL</label>
  <input type='text' name='new_url'>
  <label for='new_tag'>Input Tag</label>
  <input type='text' name='new_tag'>
  <input type='submit' value='submit'>
</form>
